<section id="page-top">

<!-- Header -->
<header class="masthead bg-primary text-white text-center" style="margin-top: -2px; padding: 70px;">
  <div class="container">
    <img class="img-fluid mb-5 d-block mx-auto logo" src="../../../../assets/image/logo.png" alt="">
    <!-- <h1 class="text-uppercase mb-0">RED INTERCIRCUITAL MARACAIBO 7</h1> -->
    <hr class="star-light">
    <h2 class="font-weight-light mb-0">Unidos Por La Educaci&oacute;n</h2>
  </div>
</header>

    <!-- Portfolio Grid Section -->
    <section class="portfolio" id="portfolio">
      <div class="container">
        <h2 class="text-center text-uppercase text-secondary mb-0">Servicios</h2>
        <hr class="star-dark mb-5">
        <div class="row">
          <div class="col-md-6 col-lg-4 text-center ">
           
            <h4 class=" text-secundary mb-2">Cartelera</h4>
              <a href="#demo" data-toggle="collapse" class="" aria-expanded="true">
                <img src="../../../../assets/image/board.png" class="img-circle person" alt="Random Name" width="255" height="255">
                
              </a>
              <div id="demo" class="collapse in" aria-expanded="true" >
                <p class="justify mt-1">Te mantiene informado de las actividades educativas, deportivas, culturales, administrativas y promocionales desarrolladas por nuestro colectivo.</p>
              </div>
           
          </div>
          <div class="col-md-6 col-lg-4 text-center ">

              <h4 class="text-secundary mb-2">Contacto</h4>
              <a href="#demo" data-toggle="collapse" class="" aria-expanded="true">
                <img src="../../../../assets/image/contact-icon.png" class="img-circle person" alt="Random Name" width="255" height="255">
                
              </a>
              <div id="demo" class="collapse in" aria-expanded="true" >
                <p class="justify mt-1">Te informa acerca de las distintas formas de contactar con nuestro colectivo.</p>
              </div>
           
          </div>
          <div class="col-md-6 col-lg-4 text-center">
              <h4 class=" text-secundary mb-2">Ingresa</h4>
              <a href="#demo" data-toggle="collapse" class="" aria-expanded="true">
                <img src="../../../../assets/image/login-icon-main-green.png" class="img-circle person" alt="Random Name" width="255" height="255">
                
              </a>
              <div id="demo" class="collapse in" aria-expanded="true" >
                <p class="justify mt-1">Si eres parte de nuestro colectivo, ingresa al sistema donde encontrarás la información que necesitas.</p>
              </div>
           
          </div>
        </div>
      </div>
    </section>
 <!-- About Section -->
 <section class="bg-primary text-white mb-0" id="about">
  <div class="container">
    <h2 class="text-center text-uppercase text-white">Sobre Nosotros</h2>
    <hr class="star-light mb-5">
    <div class="row">
      <div class="col-lg-4 ml-auto">
        <p class="lead" style="text-align: justify;">
          Somos un Colectivo caracterizado por su mística y ética de trabajo, orientada a cumplir 
        con las orientaciones y lineamientos emanados del Ministerio del Poder Popular para la Educación, 
        en función de consolidar el objetivo de brindar una educación de calidad.
        </p>
      </div>
      <div class="col-lg-4 mr-auto">
        <p class="lead" style="text-align: justify;">
            Este sitio tiene el objetivo de mantenerte conectado con nuestro Colectivo, así como mantenerte informado de las 
            novedades del acontecer pedagógico, educativo y administrativo relacionadas con el ramo educativo.    
        </p>
      </div>
    </div>
  </div>
</section>

<app-contact-form></app-contact-form>

<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-to-top d-lg-none position-fixed ">
  <a class="js-scroll-trigger d-block text-center text-white rounded" [ngx-scroll-to]="'#page-top'">
    <i class="fa fa-chevron-up"></i>
  </a>
</div>

</section>